#external_text {
	color: yellow;
}

* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 50px;
}

#uppercase_text {
	text-transform: uppercase;
}

.bg_green {
	background-color: #aed0a1;
}

li[lang] {
	border: 1px solid skyblue;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 100px;
	width: 100px;
	border-radius: 100px;
}

h4 ~ p {
	text-align: center;
}

ul > li {
	letter-spacing: 5px;
}